RewriteEngine on

# Change this to match the URI path to this directory (probably an Alias
# unless you are in the DocumentRoot)
RewriteBase /singleshot

# Disallow access to certain files (CVS, Makefile, *.cfg)
RewriteRule (^CVS/.*) $1 [F]
RewriteRule (^Makefile) - [F]
RewriteRule (\.cfg) - [F]

# Prevent URIs that arrive directly from view/ from being rewritten
# below to a CGI which will generate the resized image.  Only allow
# resized images accessed through images/
RewriteRule ^view/.* - [L]


#
# A request for a filtered, cached resized version image
#
RewriteRule ^(.*)/filter:([a-zA-Z0-9]+)/([^/]*)-([1-9][0-9]+)(\.jpg)$ view/$1/__filter_$2_$3-$4$5  [NC,S=3]
RewriteRule ^(.*)/filter:([a-zA-Z0-9]+)/([^/]*)(\.jpg)$ view/$1/__filter_$2_$3-1200$4  [NC,S=2]

# A -nnn suffix requests a cached resized version
# Critical that this rule [S]kip any other match-all-images rule
RewriteRule ^(.*)-([1-9][0-9]+)(\.jpg)$ view/$1-$2$3  [NC,S=1]

# Requesting the whole image only gets you the 'full' pixel size, not the full
# file (comment this out if you want to allow access to the large file)
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)(\.jpg)$ view/$1-full$2 [NC]

#
# If it's a request for a filtered, cached resized version and it does not
# yet exist, rewrite to a cgi that will produce it
#
RewriteCond %{REQUEST_FILENAME} (.*)/view/(.*)/__filter_([A-Za-z0-9]+)_([^/]+)-([1-9][0-9]+|full)(\.jpg)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*        singleshot/sscgi.py/resize/%1/%2/%4%6?size=%5&filter=%3 [L]



# If it's a -nnn suffix request for a cached resized version *AND* that
# size is not yet cached, rewrite to a cgi which will produce it
RewriteCond %{REQUEST_FILENAME} (.*)/view/(.*)-([1-9][0-9]+|full)(\.jpg)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .*        singleshot/sscgi.py/resize/%1/%2%4?size=%3 [L]



# RewriteRule tag/(.+)$ singleshot/sscgi.py/tag/$1

# If it's a request for FOO.html and FOO.jpg exists, rewrite to a CGI which
# will make a nice wrapper page
RewriteCond %{REQUEST_FILENAME} (.*)\.html	[NC]
RewriteCond %1.jpg -f				[OR]
RewriteCond %1.JPG -f
RewriteRule .*        singleshot/sscgi.py/view/%1 [L]

# A request for a directory that exists is rewritten to the album cgi
RewriteCond %{REQUEST_URI} /$
RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule .*        singleshot/sscgi.py/view/%{REQUEST_FILENAME} [L]

#
# A request for a directory or file that does not exist is rewritten to the virtual handler
#

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*        singleshot/sscgi.py/virtual/%{REQUEST_URI} [L]
