#errorCatcher BigEcho
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
<HEAD>
<TITLE>$directory.title</TITLE>
#include "css.tmpl"
#include "nextprev.tmpl"
</head>
<body>

#set width = 3
#include "header.tmpl"

<div class=navigation>
&nbsp;
#if $directory.hasPrev
   <div style="float:left;"><a href="$directory.prevItem.href">&lt;&lt; prev</a></div>
#end if

#if $directory.hasNext
   <div style="float:right;"><a href="$directory.nextItem.href">next &gt;&gt;</a></div>
#end if

</div>

<table class=thumbnails align=center>
<TR><TD COLSPAN=$width align=left><h2>$directory.title</h2></TD></TR>
#set i = 0
#for item in $directory.items
	#if i % width == 0
	   <TR>
	#end if
	   <TD class="$item.cssclassname">#slurp
	   #if $item.image
<a href="$item.href">$imgForSize($item.image.sizes.thumb, 'thumbnail')</a>#slurp
	   #else
## <a href="$item.href"><img border=0 class=subdir src="img_0001-200.jpg"></a>#slurp
<a href="$item.href">$item.title</a>#slurp
	   #end if
<BR><SPAN CLASS=caption>$item.title</SPAN>#slurp
</TD>
	   #set i = i + 1
#end for
</table>

<a href="$url_prefix?action=edit">edit</a>

</body>
