#set $items = [x for x in $directory.items if x.image and not x.isdir]
#def optcolspan($i)
#set $items = [x for x in $directory.items if x.image and not x.isdir]
#if $i == $items[0] or $i == $items[-1]
 COLSPAN=2#slurp
#end if
#end def
##
#if not $image
    #if len($items) > 1
	#set global $image = $items[1]
    #else
	#set global $image = $items[0]
    #end if
#end if
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
<HEAD>
<TITLE>$directory.title</TITLE>

<STYLE>
BODY { background: #ccc;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 50px;
}
DIV.content {
	background: white;
	border-top: 2px dashed #aaa;
	border-bottom: 2px dashed #aaa;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
}
DIV.home, DIV.home A {
	color: #888;
	font-family: sans-serif;
	font-weight: bold;
	text-align: right;
	margin-right: 1%;
	text-decoration: none;
}
DIV.home A:active, DIV.home A:hover {
	text-decoration: overline;
}

DIV.nav, DIV.nav A {
	color: #888;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	margin-left: 1%;
	text-decoration: none;
}
DIV.nav A:active, DIV.nav A:hover {
	text-decoration: underline;
}
DIV.nav A:hover, DIV.nav A:active,
DIV.home A:hover, DIV.home A:active {
	color: #a00;
}

TD {
	text-align: center;
}
TD#ul {
	border-top: 4px solid black;
	border-left: 4px solid black;
}
TD#br {
	border-bottom: 4px solid black;
	border-right: 4px solid black;
}
TD#ulText, TD#brText {
	font-size: 300%;
	font-family: sans-serif;
	font-weight: bold;
}
TD#ulText:first-letter {
	color: #a00;
}
TD#ulText {
	text-align: left;
	padding-left: 5px;
}
TD#brText {
	text-align: right;
	font-size: 300%;
	padding-right: 5px;
}
IMG.mininail {
	border: 1px solid black;
}
TD.active IMG {
	border: 2px solid black;
}
TD.active {
	padding-top: 20px;
	padding-bottom: 20px;
}
</STYLE>
</head>
<body>
<DIV CLASS=home>
<A HREF="$url_prefix">home</A>
</DIV>

<DIV CLASS=content>
<TABLE BORDER=0 WIDTH=90% ALIGN=CENTER CELLPADDING=0 CELLSPACING=0>
    <TR>
	<TD COLSPAN=2>&nbsp;<!-- upper left corner --></TD>
#set span=len($items)
	<TD ROWSPAN=2 COLSPAN=$span ID=ulText>$directory.title</TD>
    </TR>
    <TR>
#if $image == $items[0]
    #set rspan = 1
#else
    #set rspan = 2
#end if
	<TD ROWSPAN=$rspan>&nbsp;<!-- outside upper left line --></TD>
	<TD ROWSPAN=$rspan ID=ul>&nbsp;<!-- inside upper left line --></TD>
	<!-- rest is ROWSPAN'd from above -->
    </TR>
    <TR>
#if $rspan == 2
	<!--rowspan'd from above -->
#end if
#for item in $items
    #if $item == $image
	<TD ROWSPAN=3 VALIGN=CENTER ALIGN=CENTER class=active$optcolspan($item)><img src="$image.sizes.thumb.href" height="$image.sizes.thumb.height" width="$image.sizes.thumb.width"></TD>
    #elif $item == $items[0]
	#pass
    #else
	<TD$optcolspan($item)>&nbsp;<!-- stub for image --></TD>
    #end if
#end for
    </TR>
    <TR>
#for item in $items
#if $item == $image
	<!-- rowspan'd from above -->
#else
	<TD$optcolspan(item)><a href="$item.href"><img border=0 class=mininail src="$item.image.sizes.mini.href" height="$item.image.sizes.mini.height" width="$item.image.sizes.mini.width"></a></TD>
#end if
#end for
	<!-- rowspan'd from above -->
    </TR>
    <TR>
#for item in $items
#if $item == $image
	<!-- rowspan'd from above -->
#elif $item == $items[-1]
	<TD ID=br ROWSPAN=2>&nbsp;<!-- inside line corner --></TD>
	<TD>&nbsp;<!-- outside line --></TD>
#else
	<TD$optcolspan($item)>&nbsp;<!-- stub --></TD>
#end if
#end for
    </TR>
    <TR>
	<TD ROWSPAN=2 COLSPAN=$span ID=brText>$image.name</TD>
#if $image == $items[-1]
	<TD ID=br>&nbsp;<!-- inside line corner --></TD>
	<TD>&nbsp;<!-- outside line --></TD>
#else
	<!-- rowspan'd from above -->
#end if
    </TR>
    <TR>
	<!-- rowspan'd from above -->
	<TD COLSPAN=2>&nbsp;<!-- below line --></TD>
    </TR>
</TABLE>
</DIV>

#if $directory.href != $url_prefix
<DIV class=nav>
    <A HREF="..">up</A>
</div>
#end if

</body>
