
<h1>singleshot</h1>
#if $hasCrumbs
#set reversed = list($crumbs.parents)
#set dummy = reversed.reverse()
<SCRIPT LANGUAGE=JavaScript>
<!--
function go() {
	o = document.crumbs.where;
	o = o.options[o.selectedIndex];
	where = o.getAttribute('HREF');
	if (where) {
		document.location = where;
	}
}
--></SCRIPT>
<FORM STYLE="text-align:right" NAME=crumbs>
<SELECT NAME=where onChange="go();">
<OPTION HREF="$reversed[0].link"> ^^ up ^^
#for $crumb in $reversed
<OPTION HREF="$crumb.link">$crumb.title
#end for
</SELECT>
<INPUT TYPE=BUTTON ONCLICK="go();" VALUE="Go">
</FORM>
#end if
