<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal"  
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      metal:define-macro="page">
  <head>
    <title tal:define-slot="pagetitle" tal:content="title">Page not found</title>
    <link rel="stylesheet" type="text/css"  title="site style"
	 href="common.css" tal:attributes="href ssuri/common.css" />
   </head>
<body>
<div id="page">
<div id="header" metal:define-slot="header"><h1 class="banner">Message</h1>
<div tal:content="title">Page not found</div></div>
<div id="content">

<p tal:content="message" />

</div>
<div id="footer"><span metal:define-slot="footer">&copy;2005</span></div></div>
</body></html>