<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal"  
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      metal:define-macro="page">
  <head>
    <title tal:define-slot="pagetitle" tal:content="title">Page Title</title>
    <link rel="stylesheet" type="text/css"  title="site style"
	 href="common.css" tal:attributes="href ssuri/ss.css" />
   </head>
<body>
<div id="page">
<div id="header" metal:define-slot="header"><h1 class="banner">Singleshot Albums</h1>
<div tal:content="title">Page Title</div></div>
<div id="navigation"><span metal:define-slot="navigation">
<div>
<span tal:condition="context/prevItem"><a
href="#" tal:attributes="href context/prevItem/href">&lt;&lt; prev</a></span>

<span tal:condition="context/nextItem"><a
href="#" tal:attributes="href context/nextItem/href">next
&gt;&gt;</a></span></div>
<div tal:condition="crumbs/parents" class="crumbs">
<span tal:repeat="crumb crumbs/parents"><a href="#"
tal:attributes="href crumb/link" tal:content="crumb/title">Crumb</a> &gt; </span>
<span tal:content="item/title">Item</span>
</div>
</span></div>
<div id="content"><div metal:define-slot="content">Sample content</div></div>
<div id="footer"><span metal:define-slot="footer">&copy;2005</span></div></div>
</body></html>