<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
<HEAD>
<TITLE>$directory.title</TITLE>
<STYLE>
IMG.index {
	vertical-align: middle;
	margin: 2px;
}
</STYLE>
</head>
<body>

#def i(lvl)
#repeat $lvl * 3
&nbsp;#slurp
#end repeat
#end def
#def album(d, indent)
#for item in $d.items
$i($indent)#slurp
    #if $item.image
<a href="$item.href"><img border=0 class=index src="$item.image.sizes.mini.href" height="$item.image.sizes.mini.height" width="$item.image.sizes.mini.width"></a>
<a href="$item.href">$item.title</a>#slurp
    #else
<a href="$item.href">$item.title</a>#slurp
    #end if
    #if $item.isdir
#set $n = len([x for x in $item.items if not x.isdir])
#set $s = ('','s')[$n != 1]
 ($n image$s)
    #end if
<BR>
    #if $item.isdir
$album($item,$indent+1)
    #end if
#end for
#end def
$album($directory,0)
</body>
