<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML>
<HEAD>
<TITLE>$directory.title</TITLE>
<link REL=STYLESHEET TYPE="text/css" HREF="$ssuri/ss.css">
</head>
<body>

#set width = 3

<h1>singleshot</h1>
#if $hasCrumbs
#for crumb in $crumbs.parents
<a href="$crumb.link">$crumb.title</a> |
#end for
#end if

#import math

<div class=navigation>
&nbsp;
#if $directory.hasPrev
   <div style="float:left;"><a href="$directory.prevItem.href">&lt;&lt; prev</a></div>
#end if

#if $directory.hasNext
   <div style="float:right;"><a href="$directory.nextItem.href">next &gt;&gt;</a></div>
#end if

</div>

<table class=thumbnails align=center>
    <tr>
        <td colspan=$width align=left><h2>$directory.title</h2></td></tr>
#set i = 0
#for item in $directory.items
    #if i % width == 0
    <TR>
    #end if
        <TD class="$item.cssclassname">
    #if $item.isdir
            <a href="$item.href">
            <table border = 0 class=thumbnail >
	#set subitems = min(len($item.items), 25)
        #set subwidth = int(math.sqrt(subitems-1))+1
        #set subi = 0
        #for subitem in $item.items
            #if subi % subwidth == 0
                <tr>
            #end if
                    <td>#slurp
            #if $subitem.sizes.miniSize
                        <img border=0 class=mininail src="$subitem.sizes.miniSize.href">#slurp
            #end if
                    </td>
            #if subi % subwidth == subwidth - 1
                </tr>
            #end if
	    #set subi = subi + 1
	    #if subi >= subitems:
	        #break
            #end if
	#end for
            </table>
	    </a>
    #else
        #if $item.sizes.thumbSize
            <a href="$item.href">
            <img border=0 class=thumbnail src="$item.sizes.thumbSize.href" height="$item.sizes.thumbSize.height" width="$item.sizes.thumbSize.width">
	    </a>
        #else
            $item.title
        #end if
    #end if
            <a href="$item.href">
            <BR><SPAN CLASS=caption>$item.title</SPAN>
	    </a>
        </TD>
    #if i % width == width - 1
    </TR>
    #end if
    #set i = i + 1
#end for
</table>

<a href="$url_prefix?action=edit">edit</a>

</body>
