<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal"  
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      metal:use-macro="macros/macros/page">

<div metal:fill-slot="content">
<div class="textblock">
<h2 tal:content="item/title">Photos by date</h2>
<ul>
  <li tal:repeat="year item/items"><b
  tal:content="year/title">Year</b> (<span tal:content="year/count">count</span>)<ul><li
  tal:repeat="month year/items"><a tal:attributes="href month/href"
  tal:content="month/title">Month</a> (<span tal:content="month/count">count</span>)</li></ul></li>
</ul>
</div></div>
</html>
