<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal"  
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      metal:use-macro="macros/macros/page">

<div metal:fill-slot="content">

<div class="itemnavigation">

<ul class="navlinks">
<li tal:condition="item/prevItem"><a tal:attributes="href item/prevItem/href">prev</a></li>
<li tal:condition="item/nextItem"><a tal:attributes="href item/nextItem/href">next</a></li>
</ul>
</div>
<div>

<img tal:define="t item/sizes/view" tal:attributes="src t/href;height t/height;width t/width" class="thumbnail" border="0" />

<div class="textblock">
<div tal:content="item/title" style="font-weight: bold;">Item Title</div>

<p tal:content="item/caption" tal:condition="item/caption">Caption</p>

<div>Keywords:
<span tal:repeat="tag item/keywords"><a href="#" tal:attributes="href string:${ssroot}keyword/${tag}" tal:content="tag">Keyword</a> </span> </div>

<span tal:content="item/camera_model">Camera</span> 
<span tal:condition="item/exposure_focal" tal:content="string:${item/exposure_focal}mm">Camera</span> 
<span tal:condition="item/exposure_duration"
      tal:content="string:${item/exposure_duration}s">Exposure</span>
<span tal:condition="item/exposure_aperture" 
      tal:content="item/exposure_aperture">Exposure</span>
<span tal:condition="item/exposure_iso" tal:content="string:ISO ${item/exposure_iso}">Exposure</span>
</div>


</div>
       
</div>

</html>
