
.thumbnails {
	text-align: center;
}


.thumbnail, .subdir {
	border: 8px solid black;
	margin: 10px;
	vertical-align: middle;
	text-shadow: 4px 4px #333;
}

.album .thumbnail {
   border: 6px double black;
}

.item {
	padding: 10px;
	margin: 10px;
	vertical-align: middle;
}


.imageinfo {
    background-color: #dddddd;
    border: 2px black dotted;
    padding: 10px;
    margin: 2px;
}

.caption {
	text-align: center;
	font-family: cursive;
}

BODY.slidepage {
	background: #ccc;
}

.mininail {
	margin-left: 4px;
	border: 1px solid black;
}

.mininail#active {
	border-color: #c00;
}

.fullsize {
	border: 1px solid black;
	text-align: center;
	margin-bottom: 5px;
}

.slideview {
	margin-top: 30px;
	text-align: center;
}

.slideview SPAN {
	color: #333;
	padding-top: 3px;
	border-top: 1px solid #333;
	font-variant: small-caps;
}

table.title {
	color: #555;
	width:95%;
	margin-left:2.5%;
	font-weight: bold;
	font-variant: small-caps;
	padding-bottom: 3px;
}

.sibnav {
	width:95%;
	margin-left:2.5%;
	border-top: 1px solid #333;
	margin-top:0;
	margin-bottom: 8px;
}

.sibnav TABLE {
	background: #999;
	border: 1px solid #333;
	border-top: 0;
	border-right: 0;
}

.sibnav TABLE TD {
	font-size: 70%;
	font-family: sans-serif;
	font-variant: small-caps;
	color: #eee;
	padding-left: 4px;
	padding-right: 4px;
	border-right: 1px solid #333;
}
.sibnav TABLE TD A:link, .sibnav TABLE TD A:visited {
	color: #eee;
	text-decoration: none;
}
.sibnav TABLE TD A:hover, .sibnav TABLE TD A:active {
	color: #b00;
	text-decoration: underline;
}

h1 { 
   border-bottom: 1px black solid;
}   


#header {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 3px;
}

#footer {
  border-top: 1px solid black;
  text-align: center;
}


#header h1 {
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#header div {
  font-size: 1.1em;
}

body { 
   text-align: center; 
}

#page {
  width: 50em;
  text-align: left;
  margin: 0px auto;
}

h1, h2, h3 { 
    text-align: left;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}


#content {
  text-align: left;
  padding: 10px;
  margin: 0px auto;
}

#content>h1 {
  font-size: 1.5em;
}

#content>h2 {
  font-size: 1.3em;
}


#navigation {
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

#navigation ul {
    margin:0;
    padding:0;
}
#navigation li {
    display:inline;
    list-style:none;
    margin:0;
    padding: 10px;
}  

.softwarelist tr td {
  vertical-align: top;
}

.softwarelist tr td {
   border-top: 1px solid black;
}

.center { margin: 0px auto; }

body {    background: #878787; }
/* .thumbnails { 	background-color: #ddd; } */
#header { background: #303030; color: #ffffff; }
#footer { background: #878787; color: #ffffff; }

#content { background: #D4D4D4; }
#navigation { background: #eeeeee; }

#rsslink {
   font-size: 9px;
   font-weight: bold;
   background-color: #FF6600;
   color: #ffffff;
   border: 3px solid black;
   padding: 3px;
}